.card {
  display: grid;
  grid-template-columns: 0.7fr 1fr;
  max-width: 732px;

  @media screen and (max-width: 600px) {
    grid-template-columns: 1fr;
  }
}

.img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 10px 0 0 10px;

  @media screen and (max-width: 600px) {
    border-radius: 10px 10px 0 0;
    height: 200px;
  }
}

.text {
  padding: 2.063rem 2.5rem;
  border-radius: 0 10px 10px 0;
  background: white;

  @media screen and (max-width: 600px) {
    border-radius: 0px 0px 10px 10px;
    padding: 2rem 2rem 1.25rem 2rem;
  }
}
