.footer {
  color: hsl(214, 17%, 51%);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;

  margin-top: 20px;

  @media screen and (max-width: 600px) {
    display: inline-block;

    & a {
      margin-left: 4px;
    }
  }
}
