.content {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;

  @media screen and (max-width: 600px) {
    gap: 2.063rem;
  }
}

.container {
  display: flex;
  flex-direction: column;
  gap: 0.813rem;

  @media screen and (max-width: 600px) {
    gap: 0.75rem;
  }
}

.title {
  font-weight: 700;
  font-size: 1.25rem;
  letter-spacing: 0.2px;
  text-align: left;
  color: hsl(217, 19%, 35%);

  @media screen and (max-width: 600px) {
    line-height: 1.5;
    font-size: 1rem;
  }
}

.description {
  color: hsl(214, 17%, 51%);
  font-size: 0.813rem;
  letter-spacing: 0.1px;
  line-height: 20px;
  text-align: left;

  @media screen and (max-width: 600px) {
    font-size: 0.75rem;
    line-height: 1.6;
  }
}
